In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'actual': ['P', 'NP', 'P', 'P', 'NP', 'NP', 'P'],
    'predicted': ['P', 'NP', 'NP', 'P', 'NP', 'P', 'P']
})

In [3]:
df

  actual predicted
0      P         P
1     NP        NP
2      P        NP
3      P         P
4     NP        NP
5     NP         P
6      P         P

# for pandas

In [4]:
TP = 3
FP = 1
FN = 1
TN = 2

In [6]:
# precision

precision = 3/4
precision

# out of predicted pandas how many are right

0.75

In [8]:
# recall

recall = 3/4
recall

# out of actual pandas how many we were able to predict

0.75

In [9]:
# support 

support = 4
support

4

In [10]:
# f1 - score 

# harmonic mean between precision and recall

In [11]:
f1_score = (2 * precision * recall) / (precision + recall)

In [12]:
f1_score

0.75